<!DOCTYPE html>
<html>
<head>
    <title>Applications</title>

    <style>
        body{
            font-family: Arial;
            background-color: #f2f2f2;
            text-align: center;
            margin-top: 100px;
        }

        h1{
            color: darkblue;
        }

        p{
            font-size: 20px;
        }

        a{
            text-decoration: none;
            background-color: blue;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <h1>Applications Module</h1>

    <p>Welcome to Applications Page</p>

    <a href="/">Go Home</a>

</body>
</html>